li.nav-item.dropdown.position-static
	a.nav-link.dropdown-toggle.text-white.mx-0.mx-md-2(href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") Pracownicy
	ul.dropdown-menu.m-0.w-100.shadow-md.rounded-0.border-0.bg-secondary(aria-labelledby="navbarDropdown")
		.container.px-md-2.py-md-5
			.row
				.col-md-4.p-0
					li.py-2.px-0
						a.text-decoration-none.text-white(href="https://ug.edu.pl/pracownicy/komunikaty_2") Komunikaty
					li.py-2.px-0
						a.text-decoration-none.text-white(href="https://ug.edu.pl/pracownicy/szukaj") Skład osobowy
					li.py-2.px-0
						a.text-decoration-none.text-white(href="https://ug.edu.pl/pracownicy/struktura_organizacyjna") Struktura organizacyjna
					li.py-2.px-0
						a.text-decoration-none.text-white(href="https://ug.edu.pl/pracownicy/strony_jednostek") Strony jednostek
					li.py-2.px-0
						a.text-decoration-none.text-white(href="https://ug.edu.pl/pracownicy/erasmus-2021-2027") Erasmus+ 2021-2027
					li.py-2.px-0
						a.text-decoration-none.text-white(href="https://ug.edu.pl/pracownicy/system-pol") System POL-on
					li.py-2.px-0
						a.text-decoration-none.text-white(href="https://ug.edu.pl/pracownicy/rozwoj-kariera") Rozwój, kariera
				.col-md-4.p-0
					li.py-2.px-0
						a.text-decoration-none.text-white(href="https://ug.edu.pl/pracownicy/zwiazki-zawodowe") Związki zawodowe
					li.py-2.px-0
						a.text-decoration-none.text-white(href="https://ug.edu.pl/pracownicy/portal-pracownika") Portal Pracownika
					li.py-2.px-0
						a.text-decoration-none.text-white(href="https://ug.edu.pl/pracownicy/portal-edukacyjny") Portal Edukacyjny
					li.py-2.px-0
						kariera</a></li>
				</div>
				<div class="col-md-4 p-0">
					<li class="py-2 px-0 "><a class="text-decoration-none text-white"
						href="https://ug.edu.pl/pracownicy/zwiazki-zawodowe">Związki
						zawodowe</a></li>
					<li class="py-2 px-0 "><a class="text-decoration-none text-white"
						href="https://ug.edu.pl/pracownicy/portal-pracownika">Portal
						Pracownika</a></li>
					<li class="py-2 px-0 "><a class="text-decoration-none text-white"
						href="https://ug.edu.pl/pracownicy/portal-edukacyjny">Portal
						Edukacyjny</a></li>
					<li class="py-2 px-0 "><a class="text-decoration-none text-white"
						href="https://ug.edu.pl/pracownicy/elektroniczne_zarzadzanie_dokumentacja">Elektroniczne
						Zarządzanie Dokumentacją</a></li>
					<li class="py-2 px-0 "><a class="text-decoration-none text-white"
						href="https://ug.edu.pl/pracownicy/emeryci">Emeryci</a></li>
					<li class="py-2 px-0 "><a class="text-decoration-none text-white"
						href="https://ug.edu.pl/pracownicy/sprawy-informatyczne">Sprawy
						informatyczne</a></li>
				</div>
			</div>
		</div>
	</ul>
</li>